@color-hover-btn: #e1dede;
.SvmainProyects{
    
    .SvmainProyects__div1{
        display: flex;
        align-items: center;
        justify-content: space-around;
        div{
            display: flex;
            gap: 10px;

            button{
                display: flex;
                align-items: center;
                font-size: 25px;
                background: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    background: @color-hover-btn;
                }
            }
        }
    }
    .SvmainProyectsdiv2{
        height: 8.5cm;
        overflow-y: scroll;
        scrollbar-width: none;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        #proyect1{
            width: 86.2%;
            display: flex;
            font-weight: 600;
            padding: 10px;
            #Pazul{
                color: blue;
            }
            #Projo{
                color: red;
            }
            #Pamarillo{
                color: yellow;
            }
            #Pverde{
                color: green;
            }
            #Pmorado{
                color: blueviolet;
            }
        }
        #proyect2{
            width: 86.2%;
            font-weight: 600;
            padding: 10px;
            #Pazul{
                color: blue;
            }
            #Projo{
                color: red;
            }
            #Pamarillo{
                color: yellow;
            }
            #Pverde{
                color: green;
            }
            #Pmorado{
                color: blueviolet;
            }
        }
        #proyect3{
            width: 86.2%;
            font-weight: 600;
            padding: 10px;
            #Pazul{
                color: blue;
            }
            #Projo{
                color: red;
            }
            #Pamarillo{
                color: yellow;
            }
            #Pverde{
                color: green;
            }
            #Pmorado{
                color: blueviolet;
            }
        }
        #proyect4{
            width: 86.2%;
            font-weight: 600;
            padding: 10px;
            #Pazul{
                color: blue;
            }
            #Projo{
                color: red;
            }
            #Pamarillo{
                color: yellow;
            }
            #Pverde{
                color: green;
            }
            #Pmorado{
                color: blueviolet;
            }
        }
        #proyect5{
            width: 86.2%;
            font-weight: 600;
            padding: 10px;
            #Pazul{
                color: blue;
            }
            #Projo{
                color: red;
            }
            #Pamarillo{
                color: yellow;
            }
            #Pverde{
                color: green;
            }
            #Pmorado{
                color: blueviolet;
            }
        }
        
    }
}