:root{
    font-family: "Poppins", serif;
}
body{
    margin: 0;
}
.body{
    display: flex;

}
.Sventana{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 22%;
    border-right: 1px solid black;
    
}
.Smain{
    width: 78%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
}
